<form name="phoneDetail">
<div class="phone-images">
  <img ng-src="{{img}}"
       class="phone"
       ng-repeat="img in PhoneDetail.phone.images"
       ng-class="{active: PhoneDetail.mainImageUrl === img}">
</div>

<h1>{{PhoneDetail.phone.name}}</h1>

<p ng-show="!isEditing">{{PhoneDetail.phone.description}}</p>
<textarea ng-show="PhoneDetail.isEditing" rows="4" style="width:500px" ng-model="PhoneDetail.phone.description"></textarea>

<ul class="phone-thumbs">
  <li ng-repeat="img in PhoneDetail.phone.images">
    <img ng-src="{{img}}" ng-click="PhoneDetail.setImage(img)">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd ng-repeat="availability in PhoneDetail.phone.availability">{{availability}}</dd>
    </dl>
  </li>
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
		<dd>
			<span ng-show="!PhoneDetail.isEditing">{{PhoneDetail.phone.battery.type}}</span>
			<input ng-show="PhoneDetail.isEditing" type="text" ng-model="PhoneDetail.phone.battery.type" />
		</dd>
		<dt>Talk Time</dt>
      <dd>{{PhoneDetail.phone.battery.talkTime}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{PhoneDetail.phone.battery.standbyTime}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{PhoneDetail.phone.storage.ram}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{PhoneDetail.phone.storage.flash}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{PhoneDetail.phone.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{PhoneDetail.phone.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{PhoneDetail.phone.connectivity.bluetooth}}</dd>
      <dt>Infrared</dt>
      <dd>{{PhoneDetail.phone.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
		<dd>
			<span ng-show="!PhoneDetail.isEditing">{{PhoneDetail.phone.connectivity.gps | checkmark}}</span>
			<input ng-show="PhoneDetail.isEditing" type="text" ng-model="PhoneDetail.phone.connectivity.gps" /></span>
		</dd>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{PhoneDetail.phone.android.os}}</dd>
      <dt>UI</dt>
      <dd>{{PhoneDetail.phone.android.ui}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in PhoneDetail.phone.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{PhoneDetail.phone.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{PhoneDetail.phone.display.screenSize}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{PhoneDetail.phone.display.screenResolution}}</dd>
      <dt>Touch screen</dt>
      <dd>{{PhoneDetail.phone.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{PhoneDetail.phone.hardware.cpu}}</dd>
      <dt>USB</dt>
      <dd>{{PhoneDetail.phone.hardware.usb}}</dd>
      <dt>Audio / headphone jack</dt>
      <dd>{{PhoneDetail.phone.hardware.audioJack}}</dd>
      <dt>FM Radio</dt>
      <dd>{{PhoneDetail.phone.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{PhoneDetail.phone.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{PhoneDetail.phone.camera.primary}}</dd>
      <dt>Features</dt>
      <dd>{{PhoneDetail.phone.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{PhoneDetail.phone.additionalFeatures}}</dd>
  </li>
</ul>
<button ng-show="!PhoneDetail.isEditing" ng-click="PhoneDetail.isEditing = true">Edit</button>
<button ng-show="PhoneDetail.isEditing" ng-click="PhoneDetail.save(phone)">Save</button>
</form>