<div class="row">
    <div class="col-md-4">
        <!--Sidebar content-->
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-3" for="query">Search:</label>
                <div class="col-sm-9">
                    <input id="query" class="form-control" ng-model="PhoneList.query">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="orderProp">Sort by:</label>
                <div class="col-sm-9">
                    <select id="orderProp" class="form-control" ng-model="PhoneList.orderProp">
                        <option value="name">Alphabetical</option>
                        <option value="age">Newest</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <!--Body content-->
        <ul class="phones">
            <li ng-repeat="phone in PhoneList.phones | filter:PhoneList.query | orderBy:PhoneList.orderProp as filtered_result track by phone.id"
                class="thumbnail phone-listing">
                <a href="#/phones/{{::phone.id}}" class="thumb"><img ng-src="{{::phone.imageUrl}}"></a>
                <a href="#/phones/{{::phone.id}}">{{::phone.name}}</a>
                <p>{{::phone.snippet}}</p>
            </li>
        </ul>

    </div>
</div>
